body, html, select {
    background: #333;
    color: #fff;
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 95vh;
}

#pages {
    font-size: 110%;
    width: 100%;
    margin: 5px 0;
    border: 0;
    height: 95%;
}

#pages::-webkit-scrollbar {
    width: 0 !important;
}

#pages option:nth-child(even) {
    background: #333;
}

#pages option:nth-child(odd) {
    background: #444;
}

#pages option:checked {
    box-shadow: 0 0 10px 100px #c33 inset;
    color: #fff !important;
}

.pages-wrapper {
    height: 100%;
    width: 33%;
    overflow-y: hidden;
    border: 1px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
}


td {
    border-radius: 10px;
    border: 1px solid #333;
    width: 72px;
    height: 72px;
    margin: 3.75px;
    background: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: contain !important;
}


.selected {
    border-color: red;
}

.table-wrapper {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    width: 33%;
    height: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
}

.table {
    display: none;
}

.active {
    display: unset;
}

#action-type {
    width: 45%;
    border-radius: 5px;
    height: 25px;
    border-color: #fff;
}

label {
    display: inline-block;
    width: 25%;
    padding-right: 25%;
    margin: 10px 0;
}

.text-input {
    width: 45%;
    background: #333;
    border: 1px solid #fff;
    height: 25px;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    box-sizing: border-box;
}

input[type="file"] {
    width: 45%;
}

input[type="file"] {
    display: none;
}

button {
    background: #444;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
}