@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    @apply h-full
}

body {
    @apply bg-darker text-gray-200;
}

.select, .inp, .btn {
    @apply block bg-gray-100 text-gray-600 p-1 m-1 my-2 rounded
}

.inp {
    @apply px-2;
}

.btn {
    @apply bg-accent text-white p-2 text-sm
}

svg {
    stroke-width: 0.5;
    @apply font-bold font-sans w-full stroke-black fill-white
}

#pages {
    width: -webkit-fill-available;
    @apply h-64
}


#pages::-webkit-scrollbar {
    @apply hidden;
}

.deck-table {
    @apply hidden;
}

.deck-table.active {
    @apply table;
}

.deck-table td {
    width: 72px;
    height: 72px;
    background-size: 72px 72px;
    @apply inline-block m-2 bg-darkest rounded shadow shadow-inner inline-flex justify-center align-middle cursor-pointer;
}

.deck-table td div {
    @apply inline-flex justify-center align-middle cursor-pointer select-none;
}

.selected {
    @apply border-accent border border-collapse
}